@using Assignment_2.Models;

@model IEnumerable<Assignment_2.Models.Department>

@{
    ViewBag.Title = "Department List";
}


<div class="container text-center mt-5">
    <h2>Department List</h2>
    <div class="col-sm-6 offset-sm-3 mt-5">
        <table class="table table-bordered shadow">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DepartmentName)
                </th>
            </tr>

            @foreach (Department department in @Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(department.DepartmentName, "EmployeeByDepartment", "Employee", new { departmentId = department.DepartmentId }, null)
                    </td>
                </tr>
            }

        </table>
    </div>
</div>