@model IEnumerable<Assignment_2.Models.Employee>

@using Assignment_2.Models;

@{
    ViewBag.Title = "Employee List";
}

<div class=" container text-center mt-5">
    <h2>Employee List</h2>
    <hr/>
</div>
<div class="container mt-5">
    <table class="table table-striped table-hover">
        <tr>
            <th>Name</th>
            <th>Gender</th>
            <th>City</th>
        </tr>
        @foreach (Employee employee in Model)
        {
            <tr>
                <td>@employee.Name</td>
                <td>@employee.Gender</td>
                <td>@employee.City</td>
            </tr>
        }
    </table>
</div>