@model IEnumerable<Assignment_5.Models.Comment>

@using Assignment_5.CustomHtmlHelpers

@{
    ViewBag.Title = "Index";
}

<div class="container mt-5 col-sm-6 offset-sm-3">
    <div class="float-right btn">
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-outline-primary" })
    </div>
    @Html.Table(new List<Assignment_5.Models.Comment>(Model), "table table-striped shadow")
</div>