@{
    ViewBag.Title = "Index";
}

<div class="container text-center mt-5">
    <div class="jumbotron">
        <h3>@ViewBag.Greeting World!</h3>
        <h4>
            We're going to have an exciting party.
        </h4>
        <div class="btn btn-info mt-4">
            @Html.ActionLink("Let's Go", "RsvpForm")
        </div>
    </div>
</div>
